.bar {
    text-align: center;
    color: gray;
    font-size: 2vmin;
    /* border: thin solid orange; */
 }



.bar .panel {
    position: sticky;
    width: 100%;
    /* border: thin solid yellow; */

}

.bar.top {
    height: 30vmin;
}

.bar.top .panel {
    top: 0;
}

.bar.bottom {
    /* height: 30vmin; */
    /* border: thin solid greenyellow; */
    vertical-align: text-bottom;
}

.bar.bottom .panel {
    bottom: 0;
    vertical-align: text-bottom;
    bottom: 0;
    /* border: thin solid yellow; */
    background-color: black;
}

.bar .panel > a > div, .bar .panel > div {
    margin: 1vmin 5vw;
    /* border-top: thin solid #333; */
    display: inline-block;
    width: 16vmin;
}

.bar .panel svg {
    width: 5vmin;
    height: 5vmin;
    stroke-width: 1;
    stroke: gray;
    stroke-linecap: round;
    margin: 1vmin;
    fill: none;
    stroke-linejoin: round;
}

 a:link, a:visited{
    text-decoration: none;
    color: gray;

}

a:link:active, a:visited:active {
    text-decoration: none;
    color: gray;
}


.bar .panel > a:hover svg {
    stroke: white;
    text-shadow: 0 0 .1em white;
}

.bar .panel > a:hover > div {
    color: white;
}

