
.demo > p {
    font-weight: bold;
    /* font-size: larger; */
}

.demo .col {
    padding: 1em 3em;
}

.demo p {
    text-align: center;
}

.demo h3 {
    text-align: center;
}

#animations {
    font-size: 1.5vw;
    /* border: thin solid blue; */
    text-align: center;
}

#animations .col {
    /* border: thin solid brown; */
    padding: 0;
    text-align: center;
}

#animation, #randomAnimation{
    height: 20vw;
    width: 42vw;
    padding: 0 1em;
    text-align: center;
}

.demo, #animation, #randomAnimation {
    background-color: rgb(243, 239, 245);
}
