.end {
    text-align: justify;
    background-color: black;
    color: darkgray;
    line-height: 1.5em;
    font-family:  'Montserrat', "Lucida Console", sans-serif;
}

.end strong {
    /* font-size: larger; */
    font-weight: bold;
    color: lightgray;
    /* text-shadow: 0 0 .1em; */
}
