

.demo > p{
    font-weight: bold;
    font-size: larger;
}


.NN {
    text-align: center;
    /* background-color: rgb(245, 242, 214); */
}

.NN > img {
    max-width: 90%;
    max-height: 100%;
    padding: 4vh 4vw;
}

.NN > p {
    padding: 0vh 4vw;
}



.schematic {
    font-size: 1.2vw;
    text-align: center;
    /* background-color: rgb(236, 232, 213); */
}


#technical {
    padding-bottom: 2vh;
}

#technical > p{
    padding: 1vh 2vw;
}

.details {
    text-align: center;
    background-color: black;
}

.details > embed {
    height: 80vh;
    width: 80vw;
}

.primaries {
    display: grid;
    font-size: 1.1vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0;

}

.projectionMathWritten {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    font-size: 1.3vw;
}

#animations {
    background-color: white;
    font-size: 1.5vw;
    padding: 5vh 0vw;
    /* border: thin solid blue; */
}

#animation, #randomAnimation{
    background-color: white;
    color: black;
    /* border: thin solid rgb(27, 27, 27); */
    height: 30vw;
    padding: 1em;
}


svg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* border: thin solid black; */
}
