
.demo > p {
    font-weight: bold;
    /* font-size: larger; */
}

.demo .col {
    padding: 1em 3em;
}

.demo p {
    text-align: center;
}

.NN {
    text-align: center;
    /* background-color: rgb(245, 242, 214); */
}

.NN img {
    max-width: 70%;
}

.NN .col {
    text-align: justify;
}

.schematic {
    /* font-size: larger; */
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}

.schematic .arrow {
    font-size: larger;
    font-weight: bold;
}

#technical {
    padding-bottom: 2vh;
}

#technical > p{
    padding: 1vh 2vw;
}

.details {
    text-align: center;
    background-color: #111;
    color: lightgray;
}

.details .row .col p {
    text-align: justify;
}



.details > embed {
    height: 65vw;
    width: 95vw;
}

#animations {
    background-color: white;
    font-size: 1.5vw;
    /* border: thin solid blue; */
}

#animation, #randomAnimation{
    background-color: white;
    color: black;
    /* border: thin solid rgb(27, 27, 27); */
    height: 20vw;
    padding: 0 1em;
}

.nutshell > h4 {
    padding: 0vh 20vw;
}


svg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* border: thin solid black; */
}
