
.NN {
    text-align: center;
    /* background-color: rgb(245, 242, 214); */
}

.NN img {
    max-width: 70%;
}

.NN .col {
    text-align: justify;
}

.schematic {
    /* font-size: larger; */
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}

.schematic .arrow {
    font-size: larger;
    font-weight: bold;
}

#technical {
    padding-bottom: 2vh;
}

#technical > p{
    padding: 1vh 2vw;
}

.details {
    text-align: center;
    background-color: #111;
    color: lightgray;
}

.details .row .col p {
    text-align: justify;
}



.details > embed {
    height: 65vw;
    width: 95vw;
}
