
#intro {
    text-align: justify;
    text-align: center;
}

#intro p {
    margin: 0;
    padding: 3vh 7vw;
}

/* #intro p::first-line {
    font-size: larger;
    font-weight: 600;
} */

#intro p {
    padding: 3em 15em;
}

#intro .bold {
    font-size: larger;
    font-weight: bold;
}
