
.math {
    color: gray;
    font-weight: bold;
    font-stretch: narrower;
}

span.math {
    /* white-space: nowrap; */
}

table.matrix {
    text-align: center;
    border: .2em solid gray;
    border-style: none solid;
    display: inline-block;
}

table.matrix tr {
    border: thin solid orange;
}

table.matrix tr td {
    width: 2em;
    padding: .3em .3em;
}


.raised-box img {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}


.frac {
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
}

.frac hr {
    border-top: .15em solid gray;
}

pip::after {
    content: '\03C0(p)'
}

.math span.sqrt {
    border-top: .15em solid gray;
    padding: .3em 0 0 .1em;
}

.spacer {
    padding: 0 1em;
}
