
.product {
    background-color: rgb(231, 162, 14);
    background-color: rgb(34, 33, 32);
    color: rgb(205, 231, 169);
}

.product .summary {
    /* border: thin solid blue; */
    font-size: 1.3em;
    text-align: justify;
}

.product .form {
    text-align: left;
}
