
.schema {
    vertical-align: middle;
    background-color: lightgray;
    /* padding: 2em; */
    color: #421;
    font-family:  'Montserrat', "Lucida Console", sans-serif;
}

.schema a {
    color: #b26;
}

.schema a:hover {
    color: #f0c;
}

.schema svg {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: none;
    stroke:  #b26;
    stroke-width: 1.5;
}

.schema a:hover svg {
    stroke-width: 1.7;
    stroke: #f0c;
}

.schema svg:hover {
    font-weight: bold;
}

.schema  .stages > div {
    display: inline-block;
    vertical-align: top;
    width: 12vw;
    text-align: center;
    margin: 1em;
    /* border: thin solid gray; */
    font-weight: bold;
}

.schema  .stages > div > img {
    width: 10vw;
    height: 10vw;
    border-radius: 6vw;
    border: .3vw solid #421;
    text-align: center;
}

.schema  .stages > div > h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: .6em 0 0 0;
}
