html {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.row .col {
    flex: 1;
    /* border: thin solid red; */
    padding: 3em;
}

.row .col img {
    max-width: 100%;
    max-height: 100%;
}

.frontpageWrapper {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    font-size: 1vw;
    /* border: thin solid greenyellow; */
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: "Lucida Console", "Montserrat", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.frontpage {
    display: inline-block;
    padding: 0;
    margin: 1vw;
    width: 98vw;
    /* border: thin solid orange; */
    background-color: white;
    z-index: 100;
}

.frontpage > div {
    min-height: 75%;
    max-height: 100%;
    padding: 3em 3em;
}

.frontpage * {
    line-height: 1.5em;
}

h1 {
    padding: 2vh 3vw;
    text-align: center;
}

h2 {
    padding: 1em;
    padding-top: 0;
    text-align: center;
}

.raised-box {
    background-color: #f7f7f7;
    box-shadow: .2em .3em 1em gray;
    border-radius: .3em;
}

.sunk-box {
    box-shadow: 0 0  1em gray inset;
}

.centered {
    text-align: center;
}
