@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.details {
	font-family:  'Montserrat', "Lucida Console", sans-serif;
    color: rgb(225, 226, 210);
}

.details hr {
    font-size: 0.1vmin;
    border-block-color: #333;
    height: 1em;
    border-radius: 1em;
}

.main-box {
    display: flex;
    margin: 0 auto;
    padding:0;
    width: 90vw;
    /* border: thin solid red; */
    text-align: center;
}

.box {
    height: 17vw;
    padding: 0;
    /* border: thin solid yellow; */
    border-right: thin solid  rgb(225, 226, 210);
    border-right: thin solid  #111;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    list-style: none;
}

.detail {
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
    top:0;
    opacity: 0;
    padding: 0 1em;
    box-sizing:border-box;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detail::-webkit-scrollbar {
    width: .5vmin;
}

.detail::-webkit-scrollbar-thumb {
    background-color: rgb(52, 61, 53);
    border-radius: .5vw;
}

.box.active {
    width: 85% !important;
    border-right: thin solid #111;
}

.box.active .detail {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    transform: none;
}

.box span {
    writing-mode: vertical-rl;
    font-size: larger;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 3em;
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: rgb(231, 170, 90);
}

.box.active span {
	margin:0;
    font-weight:500;
    color: rgb(225, 226, 210);
    text-shadow: 0 0 0.1em;
}

.details a:link, .details a:visited{
    text-decoration: none;
    color: rgb(231, 170, 90);
}

.details a:link:active, .details a:visited:active {
    text-decoration: none;
    color: rgb(231, 170, 90);
}
